.list-container {
    margin: 15px 25px;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.like-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
.list-item {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like {
    color: #0000ff;
}
.dislike {
    color: #ff0000;
}